@import '../../styles/mixins';

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.3s linear;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &.with-mt {
    margin-top: 85px;
  }
}

.hero-container .info {
  @include mobile {
    text-align: center;
  }

  p {
    margin: 0px 0px 5px 0px;
    font-weight: 600;
    color: $orange;
  }

  h1 {
    font-size: 40px;
    margin: 0px 0px 5px 0px;

    @include desktop {
      font-size: 50px;
      font-weight: 700;
    }

    .name {
      color: $white;
    }
    .specialty {
      color: $grey;
    }
  }

  .sub-title {
    color: $grey;
  }
}