@import "./styles/mixins";

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: $dark;
  overflow-x: hidden;

  @include mobile {
    padding: 5%;
    padding-bottom: 0;
  }
}